node_modules/
package-lock.json
Frontend/package-lock.json
Frontend/mindFull/package-lock.json
Frontend/mindFull/public
Backend/package-lock.json
.env
Frontend/public/
/dist/
/build/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.js
*.js.map
*.d.ts
.DS_Store
Thumbs.db