.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #e74c3c;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0; /* Initial opacity */
  animation: fadeInOut 3s ease-in-out; /* Use the fadeInOut animation */
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
    transform: translateY(-20px); /* Initial position off the screen */
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0);
  }
}
