.journalsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.labelContainer {
  margin-bottom: 50px;
}

.journalPageTextArea {
  width: 100%;
  box-sizing: border-box;
}

.submitButton {
  margin: 0 auto;
  max-width: 200px;
}

.datePickerContainer {
  margin-top: 10px;
}
.datePickerWrapper {
  width: 100%;
}

.datePicker {
  width: 100%;
}
